<section class="section background">
  <div class="section__title">CurrentGround</div>
  <div class="section__content">
    
    <p>
      <strong>I'm currently studying my graduation</strong><br>
      As a cyberverse explorer, I enjoy bridging the gap between studies and internet &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always <strong>build new project's </strong>that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm in front of a computer screen</strong>, I'm probably develop new thing's, Explore New Creative 
      ideas for my Cyber Journey.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
