<section class="section background">
  <div class="section__title">CurrentGround</div>
  <div class="section__content">
    <p>
      I'm currently just doing nothing.
      
    </p>

    <p> Still Learning New Stuff, FOSS Supporter & Cyber Enthusiast With A Diff- Vision.
      I enjoy bridging the gap between studies and internet — combining my technical knowledge 
        with my keen eye for design to create a beautiful product.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, Outside of work I enjoy travel, hiking, photography, and watching epic Movie's.
<strong>BTW I Use Arch</strong>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
