<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/thatbynln/inshackle-bot" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/inshackle-bot" target="_blank">Inshackle-Bot</a>
        </div>
        <p>Best Terminal Based Instagram supporting tool, with support of wide range of tools and hacks. Plz beware of instagrams terms and services.
        that's all you need</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/thatbynln/webtyper-test" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
         
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/webtyper-test" target="_blank">WebTyper-Text</a>
        </div>
        <p>WebPage based typing speed test, Made with vanilla HTML, CSS and Javascript available on github.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/thatbynln/userrecon" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/userrecon" target="_blank">UserRecon</a>
        </div>
        <p>Find usernames across over 75 social networks This is useful if you 
          are running an investigation to determine the usage of the same username on different social networks.</p>
      </figcaption>
    </div>
  </div>
</section>
