<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/thatbynln/inshackle-bot" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/work1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/inshackle-bot" target="_blank">Inshackle-Bot</a>
        </div>
        <p>Terminal Based Instagram Supporting Professsional Tool With Great Supporting Hack's, Be Carefull With Using It. Instagram have the right to 
        suspend or ban accounts using unofficial app's. For norman use it's doesn't matter.</p>
      </figcaption>
    </div>

     <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/thatbynln/thatbynln.github.io" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/thatbynln.github.io" target="_blank">Static Webpage 1.0</a>
        </div>
        <p>A very simple, unique and powerfull portfolio webpage with HTML, CSS & Javascript. Also very responsive for devices with low screen length
        and a dark made available.</p>
      </figcaption>
    </div>
    
 <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/thatbynln/sherlock" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/work2.svg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/thatbynln/sherlock" target="_blank">SherLock 2.0</a>
        </div>
        <p>Hunt down social media accounts using sherlock tool, Forked from sherlock project, and now this tool is widely used in Username 
        Based information Gathering field.</p>
      </figcaption>
    </div>
  </div>
</section>
